<div class="login">
	<div class="container">
		<div class="center jumbotron">

      <h1>Welcome to Company Name</h1>
      <h2>Blurb about company</h2>

      <%= form_for(:session, url: login_path) do |f| %>
			  <%= f.email_field :email, :placeholder => "Email" %>
			  <%= f.password_field :password, :placeholder => "Password" %>
			  <%= f.submit "Log in", class: "btn-submit" %>
			<% end %>

    
    </div>
    <%= link_to image_tag("http://oddstuffmagazine.com/wp-content/uploads/2014/04/4_13.jpg", alt: "Animal Logo")%>
	</div>
</div>
