<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :placeholder => "Name" %>
  </div>
  <div class="field">
    <%= f.text_area :description, :placeholder => "Description of product" %>
  </div>
  <div class="field">
    <%= f.number_field :price_in_cents, :placeholder => "Price of product in CENTS" %>
  </div>
  <div class="field">
    <%= f.text_area :image, :placeholder => "Image URL" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
