<p id="notice"><%= notice %></p>

<h1>Threads for all Walks of Life</h1>

<table>
  <thead>
    <tr>
      <!-- <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price in cents</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

<div class="products">
  <tbody>
    <% @products.each do |product| %>

      <tr><a href="<%=product.id%>"><img src="<%= product.image %>"/></a>
        <!-- <tr><%= link_to 'Reviews', product %></tr> -->
        <!-- <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td>$<%= product.formatted_price %></td> -->

      </tr>
    <% end %>
  </tbody>
</div>
</table>

<br>
<%if current_user.admin?%>
<%= link_to 'New Product', new_product_path %>
<%end%>
