<p id="notice"><%= notice %></p>
<h1>Reviews</h1>
<p class="images">
    <img src="<%= @product.image %>"/>
</p>

<!-- <p>
  <strong>Name:</strong>
    <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price in cents:</strong>
  $<%= @product.formatted_price %>
</p> -->


<% @product.reviews.each do |review| %>
  <p class="review">
    <%= review.comment %>
  <br/><br/><br/>
  <small>Added on: <%= review.created_at %></small>
  </p>
<% end %>

<!-- <h3 class="review_title">New Review</h3> -->
  <%= render 'reviews/form' %>
  <%if current_user.admin?%>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%end%>

<%= link_to 'Back', products_path %>
