<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <title>Rainforest</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class= "container">
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Sign up", 'signup' %></a></li>
          <li><%= link_to "Home", 'login' %></li>
          <li><%= link_to "Cart", '#' %></li>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>

        </ul>
        <ul class="nav navbar-nav navbar-left">
          <% if current_user %>
          <li><%= current_user.email %></li>
          <ul class="nav navbar-nav navbar-right">
          <!-- <li><%= link_to "Log out", logout_path, method: "delete" %></li> -->

        </ul>
          <% end %>
      </nav>
  </div>
</header>
<%= yield %>

</body>
</html>
